/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #F8F8FC;
}

h1{
  margin: 0;
}

.drop, .drop__container{
  display: grid;
}

.drop{
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.drop__container{
  row-gap: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 16px #E1E1E1;
}